<!DOCTYPE html>
<html xmlns="http://www.thymyleaf.org">
    <head>
        <title>Weather Application</title>
    </head>
    <body>
        <h2>Weather App</h2>
        <form action="weather" method="get">
         <input type="text" name="city" required placeholder="Enter City">
         <button type="submit">Get Weather</button>
        </form>
        <h2>Weather Detail</h2>
        <div th:if="${weather}">
            <h3> City : <span th:text = "${weather.name}"></span></h3>
            <h3> Temperatue : <span th:text = "${weather.main.temp}"></span></h3>
            <h3> Humidity : <span th:text = "${weather.main.humidity}"></span></h3>
            <h3> Description : <span th:text = "${weather.weather[0].description}"></span></h3>
        </div>

    </body>
</html>